# **Chuẩn hóa Z-score với dataframe**

In [7]:
# Loading a Sample Pandas Dataframe
import pandas as pd
from scipy import stats
import numpy as np

df = pd.DataFrame.from_dict({
    'Name': ['Nik', 'Kate', 'Joe', 'Mitch', 'Alana'],
    'Age': [32, 30, 67, 34, 20],
    'Income': [80000, 90000, 45000, 23000, 12000],
    'Education' : [5, 7, 3, 4, 4]
})

print(df.head())

    Name  Age  Income  Education
0    Nik   32   80000          5
1   Kate   30   90000          7
2    Joe   67   45000          3
3  Mitch   34   23000          4
4  Alana   20   12000          4

**Chuẩn hóa Z-score**

In [4]:
# Áp dụng một cột cụ thể
df['Income zscore'] = stats.zscore(df['Income'])
print(df.head())

    Name  Age  Income  Education  Income zscore
0    Nik   32   80000          5       0.978700
1   Kate   30   90000          7       1.304934
2    Joe   67   45000          3      -0.163117
3  Mitch   34   23000          4      -0.880830
4  Alana   20   12000          4      -1.239687

**Chuyển đổi các cột trong khung dữ liệu của mình thành Z-score sử dụng hàm apply()trong Pandas**

In [5]:
df = df.select_dtypes(include='number').apply(stats.zscore)
print(df.head())

        Age    Income  Education  Income zscore
0 -0.288493  0.978700   0.294884       0.978700
1 -0.413925  1.304934   1.769303       1.304934
2  1.906565 -0.163117  -1.179536      -0.163117
3 -0.163061 -0.880830  -0.442326      -0.880830
4 -1.041085 -1.239687  -0.442326      -1.239687

In [9]:
# Áp dụng toàn bộ cột
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
df[numeric_cols] = df[numeric_cols].apply(stats.zscore)

In [10]:
print(df.head())

    Name       Age    Income  Education
0    Nik -0.288493  0.978700   0.294884
1   Kate -0.413925  1.304934   1.769303
2    Joe  1.906565 -0.163117  -1.179536
3  Mitch -0.163061 -0.880830  -0.442326
4  Alana -1.041085 -1.239687  -0.442326