In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/NLMH_OnkiemTra/chap1_california_housing_train.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [4]:
import numpy as np

def decimal_scaling(column):
    max_abs_value = np.max(np.abs(column))
    k = np.ceil(np.log10(max_abs_value))
    return column / (10 ** k)

# Tìm các cột dữ liệu số
numerical_columns = df.select_dtypes(include=np.number).columns

# Chuẩn hóa các cột dữ liệu số với thang thập phân
df[numerical_columns] = df[numerical_columns].apply(decimal_scaling)

In [5]:
print("Dữ liệu sau khi chuẩn hóa với thang thập phân:")
df.head()

Dữ liệu sau khi chuẩn hóa với thang thập phân:

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-0.11431,0.3419,0.15,0.05612,0.1283,0.01015,0.0472,0.014936,0.0669
1,-0.11447,0.3440,0.19,0.07650,0.1901,0.01129,0.0463,0.018200,0.0801
2,-0.11456,0.3369,0.17,0.00720,0.0174,0.00333,0.0117,0.016509,0.0857
3,-0.11457,0.3364,0.14,0.01501,0.0337,0.00515,0.0226,0.031917,0.0734
4,-0.11457,0.3357,0.20,0.01454,0.0326,0.00624,0.0262,0.019250,0.0655