In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv("/content/drive/MyDrive/TH1391_NLMH/Week6_Thuchanh1/california_housing_train.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [12]:
# Chuyển đổi DataFrame thành mảng numpy
data_array = df.values

# Tìm giá trị tuyệt đối lớn nhất
max_abs_value = np.max(np.abs(data_array))

# Tính số chữ số của giá trị tuyệt đối lớn nhất
k = np.ceil(np.log10(max_abs_value))

# Chuẩn hóa dữ liệu với thang thập phân
decimal_scaled_data = data_array / (10 ** k)

# Chuyển đổi mảng numpy đã chuẩn hóa thành DataFrame
decimal_scaled_df = pd.DataFrame(decimal_scaled_data, columns=df.columns)

# Hiển thị DataFrame đã chuẩn hóa
print(decimal_scaled_df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0      -0.000114  0.000034            0.000015     0.005612        0.001283
1      -0.000114  0.000034            0.000019     0.007650        0.001901
2      -0.000115  0.000034            0.000017     0.000720        0.000174
3      -0.000115  0.000034            0.000014     0.001501        0.000337
4      -0.000115  0.000034            0.000020     0.001454        0.000326
...          ...       ...                 ...          ...             ...
16995  -0.000124  0.000041            0.000052     0.002217        0.000394
16996  -0.000124  0.000041            0.000036     0.002349        0.000528
16997  -0.000124  0.000042            0.000017     0.002677        0.000531
16998  -0.000124  0.000042            0.000019     0.002672        0.000552
16999  -0.000124  0.000041            0.000052     0.001820        0.000300

       population  households  median_income  median_house_value
0        0.001015    0.000472       0.000001              0.0669
1        0.001129    0.000463       0.000002              0.0801
2        0.000333    0.000117       0.000002              0.0857
3        0.000515    0.000226       0.000003              0.0734
4        0.000624    0.000262       0.000002              0.0655
...           ...         ...            ...                 ...
16995    0.000907    0.000369       0.000002              0.1114
16996    0.001194    0.000465       0.000003              0.0790
16997    0.001244    0.000456       0.000003              0.1036
16998    0.001298    0.000478       0.000002              0.0858
16999    0.000806    0.000270       0.000003              0.0946

[17000 rows x 9 columns]