In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [4]:
df = pd.read_csv("/content/drive/MyDrive/TH1391_NLMH/Week6_Thuchanh1/california_housing_train.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [7]:
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(df)
print(normalized_data)

[[1.         0.17534538 0.2745098  ... 0.07745437 0.06853009 0.10701193]
 [0.98406375 0.19766206 0.35294118 ... 0.07597435 0.09104012 0.13422831]
 [0.9750996  0.12221041 0.31372549 ... 0.01907581 0.07937822 0.14577466]
 ...
 [0.00498008 0.98831031 0.31372549 ... 0.07482322 0.1745769  0.18268172]
 [0.00498008 0.98405951 0.35294118 ... 0.07844105 0.10205376 0.14598084]
 [0.         0.8501594  1.         ... 0.04423615 0.17343209 0.1641251 ]]

In [8]:
normalized_df = pd.DataFrame(normalized_data, columns=df.columns)
print(normalized_df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       1.000000  0.175345            0.274510     0.147885        0.198945
1       0.984064  0.197662            0.352941     0.201608        0.294848
2       0.975100  0.122210            0.313725     0.018927        0.026847
3       0.974104  0.116897            0.254902     0.039515        0.052142
4       0.974104  0.109458            0.372549     0.038276        0.050435
...          ...       ...                 ...          ...             ...
16995   0.008964  0.854410            1.000000     0.058389        0.060987
16996   0.007968  0.866100            0.686275     0.061869        0.081782
16997   0.004980  0.988310            0.313725     0.070515        0.082247
16998   0.004980  0.984060            0.352941     0.070384        0.085506
16999   0.000000  0.850159            1.000000     0.047924        0.046400

       population  households  median_income  median_house_value
0        0.028364    0.077454       0.068530            0.107012
1        0.031559    0.075974       0.091040            0.134228
2        0.009249    0.019076       0.079378            0.145775
3        0.014350    0.037000       0.185639            0.120414
4        0.017405    0.042921       0.098281            0.104125
...           ...         ...            ...                 ...
16995    0.025337    0.060516       0.128081            0.198764
16996    0.033381    0.076303       0.139170            0.131960
16997    0.034782    0.074823       0.174577            0.182682
16998    0.036296    0.078441       0.102054            0.145981
16999    0.022506    0.044236       0.173432            0.164125

[17000 rows x 9 columns]